
<div class="contenedor-layout">
    <div class="contenedor-filtro">
        <app-filtro-productos></app-filtro-productos>
    </div>

    <div class="contenedor-productos">
        <ul class="contenedor-productos-ul">
            <ng-template  ngFor let-elemento [ngForOf]="misProductos">
                <li *ngIf="verificarCalidadPrecio(elemento)" >
                    <app-producto  
                        [nombreProducto]="elemento.name"
                        [calidadProducto]="elemento.status" 
                        [precioProducto]="elemento.species"
                        [vendedorProducto]="elemento.type"
                        [idProducto]="elemento.id"
                        >
                    </app-producto>
                </li>
            </ng-template>   
             </ul>
    </div>

</div>

     
    